/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
.button{
    -fx-background-image: url("1.png"); 
    -fx-background-color: #ff7f50; 
   -fx-border-radius: 20px;
   -fx-background-radius: 20;
   -fx-padding: 5;
   -fx-background-color:dimgray

}
}
